<nav>
  <ul class="nav-ul">
    <li clas><a href="/">Home</a></li>
    <li clas><a href="/posts">Posts</a></li>
    <li clas><a href="/add-post">New Post</a></li>
    <li clas><a href="/contacts">Contacts</a></li>
    <li clas><a href="/add-contact">New Contact</a></li>
  </ul>
</nav>
