<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="home">
    <%- include('./partials/nav.ejs') %>
    <div class="maintext">
      <h1>Personal Blog By MagistrUMDev</h1>
      <p style="text-align: center;">Build with Node.js Express, EJS, MongoDB</p>
    </div>
  </body>
</html>
